body{
    margin: 0;
    padding: O;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #400F1C;
    color: black;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    background-color: #BF2A45;
    border: solid black 3px;
}
header{
    display: block;
    text-align: center;
    background-color: #D92B5A;
}
header p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
nav{
    border-top: #D9D9D9 solid 2px;
    border-bottom: #D9D9D9 solid 2px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li{
    display: inline-block;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    color: white;
}
nav a:hover{
    color: white;
    background-color: #D92B5A;
}
nav a:visited{
    color: white;
}
.section{
    display: flex;
    flex-flow: row;
    align-content: space-between;
}
.leftside{
    flex-basis: 30%;
    text-align: center;
    padding: 1rem;
}
.rightside{
    flex-basis: 70%;
    text-align: left;
    padding: 0 1.5rem 0 0.5rem;
}
blockquote{
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    padding-bottom: 0.5rem;
    border-bottom: white solid 1px;
}
ol{
    font-family: cursive;
}
fieldset{
    border: 1px black solid;
    border-radius: 10px;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
input{
    width: 20rem;
    border: 1px solid black;
    border-radius: 10px;
}
section{
    flex-basis: 40%;
    padding: 1rem;
}
aside{
    flex-basis: 60%;
}